::v-deep {
  .modal-dialog {
    width: 100%;
    max-width: 600px;
  }
  .modal__content {
    border: 0;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  .modal__body {
    padding: 0;
  }
  .modal-header {
    height: 45px;
    position: relative;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    .modal-title {
      text-transform: uppercase;
      font-size: 1.1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
    }
    .close {
      position: absolute;
      top: 20%;
      right: 2%;
    }
  }
  .modal-footer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-top: 0;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    button {
      width: 100%;
    }
  }

  .multiselect__option::after {
    display: none;
  }
}

.info-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #e5e5e5;
  padding: 15px;

  &__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__add {
    position: absolute;
    width: 28px;
    height: 28px;
    background: #00904a;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
  }
  &__qr {
    width: 45%;

    img {
      width: 200px;
      height: 200px;
    }
  }

  &__code {
    width: 258px;
    height: 258px;
    border: 4px solid #00904a;
    border-radius: 2px;

    img {
      object-fit: cover;
    }
  }

  &__detail {
    width: 75%;

    input {
      width: 100%;
      outline: none;
      border: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      &::placeholder {
        color: #7a7a7a;
      }
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    img {
      cursor: pointer;
      position: absolute;
      right: 0;
    }

    label {
      width: 200px;
      margin-bottom: 0;
    }

    input {
      height: 36px;
      border: 1px solid #e8e8e8;
      border-radius: 4px;
      padding-left: 10px;
    }
  }
}

.staff__btn {
  border: none;
  background: #00904a;
  height: 40px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  margin: 0;
  padding: 5px 0;
  font-style: normal;
  font-weight: 500;
  font-size: inherit;
  letter-spacing: 0.5px;
}

.a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.b {
  margin-bottom: 10px;
}
