.container {
  font-size: 16px;
  background: #069255;
  height: 100vh;
  min-width: 100vw;
  display: grid;
  place-items: center;

  .login-screen {
    display: grid;
    place-items: center;
    width: Min(350px, 90%);

    .login-container {
      height: 270px;
      background: #fff;
      padding: 25px 15px;
      border-radius: 10px;
      width: 100%;

      .login-form {
        .form-group {
          .login-input-text {
            margin: 0;
            color: #219653;
            font-size: 1rem;
          }
        }

        &__forget-pwd {
          justify-content: flex-end;
          display: flex;

          p {
            &:focus {
              outline: none;
            }
          }
        }

        .form-control {
          display: block;
          width: 100%;
          border: none;
          border-bottom: 1px solid #d6d6d6;
          background-color: #fff;
          border-radius: 0;
          margin-top: 24px;
          padding: 0;
          line-height: 1.2;
          font-size: 1rem;
          height: 1.5rem;

          &:focus {
            border-bottom: 1px solid #219653;
          }
        }

        .form-group {
          input {
            outline: none;
          }
        }

        .login-text {
          font-size: 1.5rem;
          font-weight: 500;
        }

        .clickable-font {
          color: #219653;
          cursor: pointer;
        }

        &__btn-login {
          opacity: 1;
          background: #219653;
          border-radius: 6px;
          width: 100%;
          color: #fff;
          padding: 6px 0;
          border: none;
          outline: none;
          font-weight: 400;

          &:disabled {
            opacity: 0.3;
          }
        }
      }
    }

    .header {
      margin-bottom: 45px;

      .logo {
        width: 214px;
        height: 62px;
      }
    }
  }
}

/deep/ .modal-dialog {
  border-radius: 6px;

  .modal-header {
    background-color: #219653;
    display: grid;
    grid-template-columns: 1fr auto;
    place-items: center;

    .close {
      color: #fff;
      opacity: 1;
      font-size: 2rem;
      margin-left: -32px;

      &:focus {
        outline: none;
      }
    }
  }

  .forget-pwd-container {
    display: grid;
    place-items: center;

    &__btn {
      width: 50%;
      background-color: #219653;
      border-radius: 6px;
      color: #fff;
      border: none;
      padding: 4px 0;

      &:disabled {
        opacity: 0.3;
      }

      &:focus {
        outline: none;
      }
    }

    &__label {
      display: grid;
      place-items: center;
      width: 100%;
    }

    &__input {
      width: 100%;
      border-radius: 6px;
      border: 1px solid #d3d3d3;
      line-height: 2;
    }
  }
}

.center-items {
  display: grid;
  place-items: center;
}
