.report__header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-item {
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
  }
}

.top-report {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 40px;
}

.bottom-report {
  border: 1px solid #efefef;
  border-top: none;
}

.column-chart {
  width: 60%;
  margin-right: 30px;
  border: 1px solid #efefef;
}

.column-bot {
  display: flex;
}

.column-left {
  width: 100%;
}

.column-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donut-chart {
  width: 35%;
  border: 1px solid #efefef;
}

.donut-top {
  background: #efefef;
  color: #259062;
  height: 40px;
  padding: 5px 20px;
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.donut-bot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.legend {
  &__box {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    &:first-child .legend__box {
      background: #259062;
    }

    &:nth-child(2) .legend__box {
      background: #eebf5c;
    }

    &:nth-child(3) .legend__box {
      background-color: #e9693d;
    }

    &:nth-child(4) .legend__box {
      background: #d2494d;
    }

    &:nth-child(5) .legend__box {
      background: #aaa1a1;
    }
  }
}

.total {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    width: 110px;
    height: 5px;
    background: #eee;
    bottom: -13px;
  }

  &__money {
    font-size: 1.5rem;
  }

  &__name {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.mid-report {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 40px;
}

.bestSeller {
  width: 60%;

  &__title {
    font-weight: 500;
    font-size: 16px;
  }

  &__content {
    .content-item {
      display: flex;
      align-items: center;
      position: relative;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid #dbdbdb;

      &:last-child {
        border-bottom: none;
      }
    }

    .content-name {
      display: flex;
      align-items: center;
      font-size: inherit;
      font-weight: 500;
      width: 100%;
    }

    .content-index {
      font-size: 24px;
      -webkit-text-stroke: 1px #00904a;
      -webkit-text-fill-color: #ffffff;
      -webkit-text-stroke-width: 1.5px;
      width: 40px;
      text-align: center;
    }
  }
}

.bottom-report {
  margin-bottom: 40px;
}

::v-deep {
  #my-table {
    font-family: Roboto;
    text-align: center;

    td {
      vertical-align: middle;
    }

    thead {
      background-color: #00904a;
      color: #fff;

      tr {
        height: 40px;

        th {
          align-items: center;
        }
      }
    }

    tbody {
      tr {
        height: 40px;
      }
    }
  }

  .pagination__list {
    text-align: right;
    ul {
      margin-bottom: 0;
    }
  }

  .pagination {
    justify-content: flex-end;
    .page-item.active .page-link {
      background-color: #00904a;
      border-color: #00904a;
      color: #fff;
    }

    .page-link {
      color: #00904a;
    }
  }

  .multiselect {
    min-height: 32px;

    &__tags {
      min-height: 32px;
      height: 32px;
      padding: 4px 40px 4px 8px;
    }

    &__select {
      height: 32px;
    }

    &__placeholder {
      padding-top: 0;
    }
  }
}
