::v-deep {
  .modal-dialog {
    width: 100%;
    max-width: 600px;
  }
  .modal__content {
    border: 0;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  .modal__body {
    padding: 0;
  }
  .modal-header {
    height: 45px;
    position: relative;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    .modal-title {
      text-transform: uppercase;
      font-size: 1.1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
    }
    .close {
      position: absolute;
      top: 20%;
      right: 2%;
    }
  }
  .modal-footer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-top: 0;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    button {
      width: 100%;
    }
  }
}

.info-staff {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 4px solid #e5e5e5;
  padding: 15px;
  &__avatar {
    cursor: pointer;
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
  }
  &__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__add {
    position: absolute;
    width: 28px;
    height: 28px;
    background: #00904a;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
  }
  &__detail {
    width: calc(100% - 86px);

    input {
      height: 36px;
      width: 100%;
      margin-right: 10px;
      border: 1px solid #d6d6d6;
      border-radius: 4px;
      padding-left: 10px;

      &::placeholder {
        color: #7a7a7a;
      }
    }

    label {
      width: 150px;
      margin: 0;
    }
  }

  &__hide {
    position: absolute;
    width: 16px;
    height: 10px;
    right: 20px;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    img {
      cursor: pointer;
      position: absolute;
      right: 16px;
    }
  }
}

.staff__btn {
  border: none;
  background: #00904a;
  height: 40px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  margin: 0;
  padding: 5px 0;
  font-style: normal;
  font-weight: 500;
  font-size: inherit;
  letter-spacing: 0.5px;
}
